body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fdfbf7;
    color: #241d08;
}

.navbar {
    background-color: #e6d2bb !important;
    padding: 0.8rem 1.5rem;
}

.navbar-brand {
    color: #000000 !important;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-link {
    color: #000000 !important;
    margin: 0 15px;
    position: relative;
    font-weight: 500;
    transition: all 0.3s ease;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000000;
    left: 50%;
    bottom: 0;
    transition: all 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.nav-link:hover {
    color: #000000 !important;
}

.footer {
    background-color: rgb(230, 210, 187) !important;
}

.footer-link {
    color: #6c757d;
    /* Bootstrap's text-secondary default color */
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #000000;
    /* Your dark gold palette color for hover */
    text-decoration: underline;
    /* Optional: if you want underline on hover */
}



/* .title-text {
    color: #0f1965 !important;
} */